{% extends 'app/base.html' %}
{% load static %}
{% block title %}Checkout{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
    {% for item in cart_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product:{{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: {{item.total_cost}}</p>
        </div>
      </div>
    {% endfor %}
    <p class="fw-bold"> Total Cost+ Rs. 30 = {{totalamount}}</p>  
    <small>
      <b>Term and Conditions:</b><br> 1)In case the Bank Account appears to be debited, ensure that he/ she does not make the payment twice and immediately thereafter contact  the Institute via e-mail or any other mode of contact as provided by  the Institute to confirm payment.<br>
      2)In case the Bank Account is not debited, the User may initiate a fresh transaction to make payment.<br>
      3)However, the User agrees that under no circumstances the Payment Gateway Service Provider shall be held responsible for such fraudulent/duplicate transactions and hence no claims should be raised to Payment Gateway Service Provider  No communication received by the Payment Service Provider(s) in this regards  shall be entertained by the Payment Service Provider(s).
    </small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/paymentdone" id="myform">
      {% for ad in add %}
      <div class="card">
        <div class="card-body">
        <h5>{{ad.name}}</h5>
        <p>{{ad.locality}},{{ad.city}},{{ad.state}} - {{ad.zipcode}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}"value="{{ad.id}}">
          <label class="form-check-label fw-bold" for="custadd{{forloop.counter}}">
            Address: {{forloop.counter}} 
          </label>
        </div>
        {% endfor %}
        <div class="text-end">
          <!-- Set up a container element for the button -->
          <div id="paypal-button-container"></div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock main-content %}
{% block payment-gateway %}
<script src="https://www.paypal.com/sdk/js?client-id=AcstXil5pnzUYXGkyKUv64w3OgDroWe71-I7-xZTAck4wJ2LUOUbV6WHrgcb9jyHWw39l6GBZODhXcLw&currency=USD"></script>

    <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{totalamount}}'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                alert('Transaction completed by '+details.payer.name.given_name + '!');
                document.getElementById("myform").submit();
                });
            }


        }).render('#paypal-button-container');
    </script>
{% endblock payment-gateway %}